<a aria-label="View our Facebook page" class="{{#if isHeader}}text-white fs-5{{else}} socials-footer {{/if}}"
  href="{{facebook}}">
  <i class="bi bi-facebook "></i>
</a>
<a aria-label="View our Instagram page"
  class="{{#if isHeader}}text-white fs-5 ms-3{{else}} socials-footer{{/if}}  {{#if isFooter}}ms-3{{/if}}"
  href="{{instagram}}">
  <i class="bi bi-instagram "></i>
</a>
<a aria-label="View our TikTok page"
  class="{{#if isHeader}}text-white fs-5 ms-3{{else}} socials-footer{{/if}} {{#if isFooter}}ms-3{{/if}}"
  href="{{tiktok}}">
  <i class="bi bi-tiktok "></i>
</a>
<a aria-label="View our Google Reviews"
  class="{{#if isHeader}}text-white fs-5 ms-3{{else}} socials-footer{{/if}} {{#if isFooter}}ms-3{{/if}}"
  href="{{google}}">
  <i class="bi bi-google "></i>
</a>
<a aria-label="View our Yelp page"
  class="{{#if isHeader}}text-white fs-5 ms-3{{else}} socials-footer{{/if}} {{#if isFooter}}ms-3{{/if}}"
  href="{{yelp}}">
  <i class="bi bi-yelp "></i>
</a>